{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hi, I’m Avish (or Ave ;) )!
          I’m an aeronautical engineering student at Imperial College London, passionate about blending technology, problem-solving, and creativity. My work spans everything from designing control systems for drones to developing components for racing cars, and I’m always looking for ways to merge mechanical engineering with cutting-edge software. I’m also actively learning and developing software, exploring new technologies, and expanding my coding skills in areas like AI, web development, and automation.
        </p>
        <p>
          When I’m not immersed in engineering or software projects, you’ll find me competing in tennis (I’m a national champion!), or training in Muay Thai, boxing, and football at a competitive level. I also enjoy staying active with volleyball, swimming, and mountain climbing when I get the chance.
        </p>
        <p>
          Fluent in English, French, and Mauritian Creole, I’m always keen to share what I’m learning, whether it’s about tech, engineering, or my sports experiences. This blog is where I combine my passions for innovation, tech, and an active lifestyle. Thanks for stopping by—I’m excited to share my journey with you!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
